body {
    width: 100%;
  height: 100%;
  background-color: #202020;
}

div#navigation {
    display: inline;
}

div#listings {
    display: inline-block;
}

h1 {
    vertical-align: middle;
	text-align:center;
}
brett
G1D4qK2eDjCnuKnL
